* {
  box-sizing: border-box;
}
main {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgba(36, 39, 48, 1);
  transition: color .15s ease-in;
}
a, a:link, a:visited, a:hover, a:active {
  color: rgba(189, 190, 193, 1);
  text-decoration: none;
}
a:hover {
  color: rgba(255, 85, 68, 1);
}
fieldset.package-search {
  border: 1px solid rgba(189, 190, 193, 1);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
fieldset.package-search legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
fieldset.package-search input {
  width: 100%;
  background-color: rgba(36, 39, 48, 1);
  color: white;
  border: 0;
  border-top: 1px solid rgba(189, 190, 193, 1);
  text-align: center;
  font-size: large;
}
fieldset.package-search input:focus {
  -webkit-outline-color: rgba(255, 85, 68, 1);
  outline-color: rgba(255, 85, 68, 1);
  color: rgba(255, 85, 68, 1);
}
nav.suggestions ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding-left: 0;
}
nav.suggestions ul li {
  margin: 0 .5rem;
  font-size: small;
  align-self: center;
}
section.packages {
  display: grid;
  grid-gap: 1rem;
}
section.packages article {
  text-align: left;
  box-shadow: 5px 5px 5px 0px rgba(36, 39, 48, .05);
  border: 1px solid rgba(0, 0, 0, .05);
  padding: .5rem;
}
section.packages article:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 5px 0px rgba(36, 39, 48, .1);
  transition: all .2s ease 0s;
  background-color: rgba(36, 39, 48, .1);
}
section.packages article:target {
  box-shadow: 5px 5px 5px 0px rgba(36, 39, 48, .2);
  animation: shake .3s cubic-bezier(.36, .07, .19, .97) .2s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background-color: rgba(36, 39, 48, 1);
  color: white;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    /* transform: translate3d(-4px, 0, 0); */
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
section.packages article h3 {
  text-align: center;
}
section.packages article dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
section.packages article dt {
  float: left;
  clear: left;
  font-weight: bold;
}
section.packages article dd {
  margin: 0;
  padding: 0;
}
nav.dependencies ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.dependencies ul li {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  section.packages {
    grid-template-columns: 1fr 1fr 1fr;
  }
  fieldset.package-search {
    padding-bottom: 12px;
  }
  fieldset.package-search input {
    width: 60%;
    font-size: xx-large;
    border: 1px solid rgba(189, 190, 193, 1);
  }
}
