@media only screen and (min-width: 600px) {
  section.packages {
    grid-template-columns: 1fr 1fr 1fr;
  }
  fieldset.package-search {
    padding-bottom: 12px;
  }
  fieldset.package-search input {
    width: 60%;
    font-size: xx-large;
    border: 1px solid rgba(189, 190, 193, 1);
  }
}
